.topnav {
    /*background-color: rgba(255, 255, 255, 0);*/
    overflow: hidden;
}


.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    border-radius: 10px;
    background-color: #f8bdeb;
    color: black;
}


.topnav a.active {
    border-radius: 10px;
    background-color: #01ca80;
    color: rgb(0, 0, 0);
}


.topnav .icon {
    display: none;
}